<h1>What is the ACCESS-NRI MED Portal?</h1>

<p>
  MED Portal is a place to share high quality code to help support development and research within the Australian Community Climate and Earth System Simulator (ACCESS) modelling system framework.
  It is focused on model evaluation and diagnostics (MED) recipes, and is a fork of <%= link_to "JOSS", "https://joss.theoj.org/" %>.
</p>
<p>
  ACCESS is a computer modelling framework for research that includes atmospheric, ocean, sea-ice, and land surface models coupled to a range of chemical and biological models. Currently, the system supports critical modelling and research that contributes to international global climate reports, weather forecasting, seasonal prediction, climate projection and climate adaptation policy among many other uses.
</p>
<p>
  The Australian Earth-System Simulator National Research Infrastructure (ACCESS-NRI) is a major collaborative undertaking between the Bureau of Meteorology, CSIRO and five Australian universities, in collaboration with international partners.
  For more information about ACCESS-NRI look at the <%= link_to "ACCESS-NRI Website", "https://www.access-nri.org.au/" %>, the <%= link_to "ACCESS-Hive Website", "https://access-hive.org.au/" %>, or the <%= link_to "ACCESS-Hive Forum", "https://forum.access-hive.org.au/" %>.
</p>
